* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-block{
    display:none;
}

.navbar-none{
width:60%;
}

.main-container {
    width: 100%;
    height: auto;
}

.heading {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 20%;
    width: 100%
}

.logo {
    margin-right: auto;
}

.search1 {
  width: 491px;
  height: 38px;
    display: flex;
    margin-right:30%;
}

.kart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 60px;
    margin-right: 20px;
    background: #E5EEF8;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.logo1 {
    margin-right: 10px;
}

.search1 input {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    width: 90%;
    background: #f1f1f1;
}

.search1 img {
    width: 8%;
    padding: 10px;
    background: #0055B9;
    color: white;
    font-size: 17px;
    border: none;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    cursor: pointer;
}

form.heading-search button:hover {
    background: #0b7dda;
}

/* .kart {
    background-image: url(oval2.png);
    width:44px;
    height:44px;
} */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20%;
    padding-bottom: 30px;
    width: 100%;
}

.navbar .navbar-none ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;

}

.navbar ul a {
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'AvertaStd';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.563684px;
    color: #1B1B1B;
}
.login{
    position:relative;
}

.login a {
    text-decoration: none;
    font-family: 'AvertaStd';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.09px;
    color: #0055B9;
}

.login button {
    cursor: pointer;
    background: #0055B9;
    border-radius: 3px;
    width: 128px;
    height: 40px;
    font-family: 'AvertaStd';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.09px;
    color: #FFFFFF;
}

.content {
    background-image: url(./assets/rectangle3.png);
    height: 803px;
    width: 100%; 
    background-size:100% 100%;
    background-repeat: no-repeat;
    /* background-position: center center; */
    /* background-attachment: fixed; */
    /* background-position: center; */
}

.content h1 {
    font-family: 'BebasNeueBold';
    font-size: 96px;
    line-height: 112px;
    letter-spacing: 3.00632px;
    color: #FFFFFF;
    margin-left: 130px;
    padding-top: 150px;

}

.search2 {
    border-radius: 4px;
    margin-top: 70px;
    margin-left: 130px;
    width: 711px;
    height: 63px;
    display: flex;
    background: #E5EEF8;
    align-items: center;
}

.search2 [type=search] {
    padding: 10px;
    font-size: 17px;
    width: 95%;
    border: none;
    outline: none;
    background: #E5EEF8;

}

.search2 img {
    width: 17.65px;
    height: 17.09px;
    cursor: pointer
}

.main-content {

    background: #E5EEF8;
    height: 541px;
    width: 100%;
    background-size:cover;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.main-content1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    align-items: center;
    width: 350px;
    height: 192px;
    margin-top: -100px;
    background: linear-gradient(0deg, #E5EEF8 0%, #FFFFFF 100%);
    border-radius: 10px;
}

.main-content11 {
    font-family: 'AvertaStd';
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.501053px;
    color: #154C8E;
}

.main-content12 {

    font-family: 'AvertaStd';
    font-size: 17px;
    line-height: 5px;
    letter-spacing: 0.501053px;
    color: black;

}

.bottom-content {
    display: flex;
    justify-content: center;
    margin-top: -400px;
    max-width:100%;
}
.text img {
    max-width: 100%;
}

.bottom-content1 {
    /* padding: 0px 7%; */
    display: flex;
    margin-top: 60px;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: 500px;
    /* height:453px;
    width:378px; */
}
.left-nav{
width:100px;
height:100px;
background: #D8D8D8;
mix-blend-mode: normal;
opacity: 0.68;
border-radius: 60px;
display:flex;
justify-content: center;
align-items: center;
margin-top: 9%;
}
.left-nav1{
    background: #0055B9;
    width:62px;
    height:62px;
    border-radius: 60px;

    display:flex;
justify-content: center;
align-items: center;
color:#FFFFFF;
font-size: 30px;

}

.bottom-content11 {

    height: 453px;
    width: 378px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 10px;
    border-bottom: 5px solid #0055B9;
}
.content11-img {
width:100%;
height:308px;
}

.bottom-content112 {

    margin-top: 10px;
    margin-left: 30px;
    font-family: 'AvertaStd';
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.417544px;
    color: #0458BA;
}

.bottom-content113 {

    font-family: 'Averta Std';
    font-size: 18px;
    line-height: 50px;
    /* identical to box height */
    letter-spacing: 0.375789px;
    color: #686868;

}

.rating {
    display: flex;
    justify-content: flex-end;
}

.rating1 {
    margin-left: 5%;
}

.rating2 {
    margin-left: 5%;
}

.rating3 {
    margin-left: 10%;
}

.rating4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5EEF8;
    border-radius: 100px 0px 0px 100px;
    width: 77px;
    height: 28px;
    margin-top: -5px;
    margin-left: auto;
}

 @media screen and (max-width:1600px){

    .search1{
        margin-right: 20%;
    }
    
}
@media screen and (max-width:1564px){

.content h1 {
    font-family: 'BebasNeueBold';
    font-size: 76px;
    line-height: 100px;
    letter-spacing: 3.00632px;
    color: #FFFFFF;
    margin-left: 120px;
    padding-top: 140px;
}
    .search1{
        margin-right: 10%;
    }
    
}
@media screen and (max-width:1340px){

    .search1{
        margin-right: 20%;
    }
    .heading {
        display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 10%;
    width: 100%
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10%;
        padding-bottom: 30px;
        width: 100%;
    }
    .content h1 {
        font-family: 'BebasNeueBold';
        font-size: 56px;
        line-height: 90px;
        letter-spacing: 3.00632px;
        color: #FFFFFF;
        margin-left: 110px;
        padding-top: 130px;
    }
    .search2 {
        border-radius: 4px;
        margin-top: 50px;
        margin-left: 110px;
        width: 711px;
        height: 63px;
        
    }
    
    .search2 [type=search] {
        padding: 10px;
        font-size: 17px;
        width: 95%;
    
    }
    
}
@media screen and (max-width:1546px){
    .bottom-content1{
    flex-wrap:wrap;
    }
    /* .left-nav{
        display:none;
    } */
}


@media screen and (max-width:1040px){

    .search1{
        margin-right: 20%;
    }
    .heading {
        display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 3%;
    width: 100%
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 3%;
        padding-bottom: 30px;
        width: 100%;
    }
    .content h1 {
        font-family: 'BebasNeueBold';
        font-size: 46px;
        line-height: 70px;
        letter-spacing: 3.00632px;
        color: #FFFFFF;
        margin-left: 90px;
        padding-top: 100px;
    }
    .search2 {
        border-radius: 4px;
        margin-top: 50px;
        margin-left: 90px;
        width: 600px;
        height: 50px;
        
    }
    
    .search2 [type=search] {
        padding: 10px;
        font-size: 17px;
        width: 95%;
    
    }
}

@media screen and (max-width:1000px){

    .search1{
        margin-right: 10%;
    }
    .content h1 {
        font-family: 'BebasNeueBold';
        font-size: 36px;
        line-height: 50px;
        letter-spacing: 3.00632px;
        color: #FFFFFF;
        margin-left: 70px;
        padding-top: 80px;
    }
    .search2 {
        border-radius: 4px;
        margin-top: 50px;
        margin-left: 70px;
        width: 500px;
        height: 50px;
        
    }
    
    .search2 [type=search] {
        padding: 10px;
        font-size: 17px;
        width: 95%;
    
    }
}

@media screen and (max-width:828px){

    .search1{
        margin-right: 2%;
    }
    .content h1 {
        font-family: 'BebasNeueBold';
        font-size: 28px;
        line-height: 37px;
        letter-spacing: 3.00632px;
        color: #FFFFFF;
        margin-left: 50px;
        padding-top: 60px;
    }
    .search2 {
        border-radius: 1px;
        margin-top: 50px;
        margin-left: 50px;
        width: 500px;
        height: 40px;
        
    }
    
    .search2 [type=search] {
        padding: 10px;
        font-size: 17px;
        width: 95%;
    
    }
    
} 
@media screen and (max-width:812px){
    .bottom-content1 {
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
margin-top: 650px;
    }
}
@media screen and (max-width:800px){
    .main-content{
       flex-wrap: wrap;
    }
    .bottom-content {
        display: flex;
        justify-content: center;
        margin-top: -140px;
        width:100%;
    }
    .search1 {
        width: 390px;
    }
}

@media screen and (max-width:740px){
    .bottom-content {
        display: flex;
        justify-content: center;
        margin-top: -70px;
        width:100%;
    }
}
@media screen and (max-width:680px){

    .search2 {
        border-radius: 1px;
        margin-top: 50px;
        margin-left: 50px;
        width: 300px;
        height: 40px;
        
    }
    
    .search2 [type=search] {
        padding: 10px;
        font-size: 17px;
        width: 90%;
    
    }
    .search1 input {
        display:none;
    }
    
    .search1 img {
        margin-left: 30px;
        width: 35px;
        height:35px;
        padding: 10px;
        background: #0055B9;
        color: white;
        font-size: 17px;
        border: none;
        border-radius: 60px;
        cursor: pointer;
    }
    
} 
@media screen and (max-width:840px){
    .navbar-block{
        display:block;
    }
    .navbar-none{
        display:none;
    }
}
