.modal {
    position: absolute;
    max-width: 496px;
    height: 708.44px;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-left: -218px;
    margin-top: 12px;
}

.modal input[type="text"] {
    background-image: url("./assets/user.png");
    background-repeat: no-repeat;
    background-position: 20px 20px;
    
    
}

.modal input[type="password"] {
    background-image: url("./assets/key.png"),url("./assets/eye.png");
    background-repeat: no-repeat,no-repeat;
    background-position: 20px 20px,347px 23px;
    
}
/* .modal input[type="password"] {
    background-image: url("eye.png");
    background-repeat: no-repeat;
    background-position: 20px 20px;
} */

.modal input[type="text"],
input[type="password"] {

    border: 1px solid #0055B9;
    border-radius: 5px;
    width: 100%;
    padding: 20px 58px;

    font-family: 'Circe';
    font-size: 18px;
    line-height: 27px;
    color: #C1C1C1;

}

.modal label {
    font-family: 'Circe';
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;

}

.create {
    font-family: 'Circe';
    font-size: 18px;
    line-height: 27px;
    color: #000000
}

.modal input[type="submit"] {
    background: #0055B9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    width: 269px;
    height: 54px;
    font-family: 'Circe';
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.signin {
    font-family: 'AvertaStd';
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.897719px;

    color: #000000;
}

.facebook input[type="button"] {
    background: #3B5998;
    border-radius: 3px;
    width: 100%;
    height: 63px;
    font-family: 'AvertaStd';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.807947px;
    color: #FFFFFF;

    background-image: url("./assets/facebook.png");
    background-repeat: no-repeat;
    background-position: 22px 10px;

}

.google input[type="button"] {
    background-color: #518EF8;
    border-radius: 3px;
    width: 100%;
    height: 63px;
    font-family: 'AvertaStd';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.807947px;
    color: #FFFFFF;

    background-image: url("./assets/google.png"),url("./assets/goval.png");
    background-repeat: no-repeat,no-repeat;
    background-position:30px 20px,22px 10px;
}

.modal input[type="checkbox"] {
    background: #EEEEEE;
    border: 1px solid #0055B9;
    border-radius: 5px;
    width: 19px;
    height: 19px;
}
form{
    padding:45px 45px;
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}
@media screen and (max-width:414px){
    form {
        padding: 45px 8px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .modal {
        position: absolute;
        max-width: 438px;
        height: 708.44px;
        z-index: 1;
        background: #FFFFFF;
        box-shadow: 0px 2px 24px rgb(0 0 0 / 50%);
        border-radius: 5px;
        margin-left: -116px;
        margin-top: 12px;
    }
}